@font-face {
    font-family: "handwriting2019";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/handwriting2019/handwriting2019.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/handwriting2019/handwriting2019.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/handwriting2019/handwriting2019.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/handwriting2019/handwriting2019.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/handwriting2019/handwriting2019.ttf") format("truetype");
    font-display: swap;
}
.handwriting2019 {
    font-family: "handwriting2019";
}